table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}
.table_info{
    width: 200px;
}
td, th{
    border: 1px solid #dddddd;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.assignment_grade{
    text-align: right;
    cursor: pointer;
}
.assignment_average{
    text-align: right;
}
.student_name{
    cursor: pointer;
}
.highlight{
    background-color: goldenrod;
}