table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}
td, th{
    border: 1px solid #dddddd;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.assignment_grade{
    text-align: right;
}
.assignment_average{
    text-align: right;
}
