body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}
.table_info{
    width: 200px;
}
td, th{
    border: 1px solid #dddddd;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.assignment_grade{
    text-align: right;
    cursor: pointer;
}
.assignment_average{
    text-align: right;
}
.student_name{
    cursor: pointer;
}
.header{
    cursor: pointer;
}
.highlight{
    background-color: goldenrod;
}
#context-menu {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background: #1b1a1a;
  transform:scale(0);
  transform-origin: top left;
}
#context-menu.active{
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu.visible {
  display: block;
}
#context-menu .item{
    padding: 8px 10px;
    font-size: 15px;
    color: rgb(36, 8, 8);
}
#context-menu .item:hover{
    background: #e7e5e5;
}